body {
    background-image: url(./images/bg-intro-desktop.png);
}
.form-body{
    background-color: hsl(0, 100%, 74%) ;
}
.col-left{
    padding-top:10rem;
}
.claim-btn {
    background-color: hsl(154, 59%, 51%);
}

.claim-btn:hover{
    background-color: hsl(154, 59%, 51%);
}
.right-card{
    border-radius: 0.7rem;
}

.try-btn {
    background: hsl(248, 71%, 23%);
}
.try-btn:hover {
    background-color: hsl(248, 71%, 23%);
}
.last{
    color: hsl(246, 25%, 77%);
    text-align: center;
}
